{{ define "main" }}

{{ partial "page-header.html" . }}


    <div class="section pb-0">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center" data-aos="fade-up">
            <p class="text-uppercase">Kontaktiere Sie uns</p>
            <h2 class="title">Kontaktiere Sie uns</h2>
          </div>
        </div>



        {{with site.Params.contact_info.email}}
        <div class="col-xl-3 col-lg-4 col-md-6 contact-widget" data-aos="fade-up" data-aos-delay="100">
          <div class="block text-center">
            <h3 class="mb-4">E-Mail Adresse</h3>
            <ul class="list-unstyled">
              {{range .}}
              {{if .}}
              <li><a href="mailto:{{.}}"><i class="las la-envelope-open-text"></i>{{.}}</a></li>
              {{end}}
              {{end}}

              <p>--- </p>
              <h3 class="mb-4"> Google Chat</h3>
            <ul class="list-unstyled">
              {{range .}}
              {{if .}}
              <li><a href="mailto: info.iglubit@gmail.com"><i class="las la-envelope-open-text"></i>info.iglubit@gmail.com</a></li>
              {{end}}
              {{end}}
            </ul>
          </div>
        </div>
        {{end}}


        {{with site.Params.contact_info.phone}}
        <div class="col-xl-3 col-lg-4 col-md-6 contact-widget" data-aos="fade-up">
          <div class="block text-center">
            <h3 class="mb-4">Telefon</h3>
            <ul class="list-unstyled">
              {{range .}}
              {{if .}}
              <li><a href="tel:{{.}}"><i class="las la-phone"></i>{{.}}</a></li>
              {{end}}
              {{end}}
            </ul>
          </div>
        </div>
        {{end}}

        {{with site.Params.social}}
        <div class="col-xl-3 col-lg-4 col-md-12 contact-widget" data-aos="fade-up" data-aos-delay="200">
          <div class="block text-center">
            <h3 class="mb-4">Social Media</h3>
            <ul class="list-unstyled">
              {{range .}}
              {{if .}}
              <li><a href="{{.link}}"><i class="{{.icon}}"></i>{{.title}}</a></li>
              {{end}}
              {{end}}
            </ul>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</section>

{{ end }}